In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('communties.csv')[['Id', 'modularity_class']].astype({'Id': int, 'modularity_class': int}).set_index('Id')
data

      modularity_class
Id
1459                 0
1516                 0
1452                 0
1498                 0
1520                 1
1468                 0
1502                 1
1522                 0
1477                 0
1483                 0
1457                 0
1479                 0
1451                 1
1493                 1
1495                 0
1458                 0
1461                 0
1453                 0
1501                 1
1439                 3
1486                 2
1428                 2
1471                 2
1563                 3
1592                 2
1482                 2
1435                 2
1489                 3
1465                 3
1431                 3
1585                 2
1578                 2
1426                 2
1480                 3
1434                 3
1441                 2
1437                 3
1443                 3
1511                 2
1637                 1
1751                 0
1430                 2
1427                 3
1429                 3
1475                 3
1750                 2

In [3]:
kf = pd.read_csv('schoolclass5meta.txt', sep='\t')
df = pd.DataFrame(columns=['Id', 'class', 'gender'])
c = kf.columns
df.at[0, :] = kf.columns
kf = kf.rename(columns={c[0]: 'Id',
                        c[1]: 'class',
                        c[2]: 'gender'
})
metadata = pd.concat([df, kf], axis=0).astype({'Id': int, 'class': str, 'gender': str}).set_index('Id')
print(metadata)

     class   gender
Id
1426    5B        M
1427    5B        F
1428    5B        M
1429    5B        F
1430    5B        M
1431    5B        F
1434    5B        F
1435    5B        M
1437    5B        F
1439    5B        M
1441    5B        M
1443    5B        F
1451    5A        F
1452    5A        M
1453    5A        F
1457    5A        F
1458    5A        M
1459    5A        M
1461    5A        F
1465    5B        F
1468    5A        M
1471    5B        M
1475    5B        F
1477    5A        M
1479    5A        M
1480    5B        F
1482    5B        M
1483    5A        F
1486    5B        M
1489    5B        F
1493    5A        F
1495    5A        M
1498    5A        M
1501    5A        F
1502    5A        F
1511    5A        M
1516    5A        M
1520    5A        F
1522    5A        M
1563    5B        F
1578    5B        M
1585    5B        M
1592    5B        M
1637    5A  Unknown
1750    5B        M
1751    5A        F

In [4]:
df = pd.concat([metadata, data], axis=1)
print(df[df.modularity_class == 0.0])

     class gender  modularity_class
Id
1452    5A      M                 0
1453    5A      F                 0
1457    5A      F                 0
1458    5A      M                 0
1459    5A      M                 0
1461    5A      F                 0
1468    5A      M                 0
1477    5A      M                 0
1479    5A      M                 0
1483    5A      F                 0
1495    5A      M                 0
1498    5A      M                 0
1516    5A      M                 0
1522    5A      M                 0
1751    5A      F                 0

In [5]:
print(df[df.modularity_class == 1.0])

     class   gender  modularity_class
Id
1451    5A        F                 1
1493    5A        F                 1
1501    5A        F                 1
1502    5A        F                 1
1520    5A        F                 1
1637    5A  Unknown                 1

In [6]:
print(df[df.modularity_class == 2.0])

     class gender  modularity_class
Id
1426    5B      M                 2
1428    5B      M                 2
1430    5B      M                 2
1435    5B      M                 2
1441    5B      M                 2
1471    5B      M                 2
1482    5B      M                 2
1486    5B      M                 2
1511    5A      M                 2
1578    5B      M                 2
1585    5B      M                 2
1592    5B      M                 2
1750    5B      M                 2

In [7]:
print(df[df.modularity_class == 3.0])

     class gender  modularity_class
Id
1427    5B      F                 3
1429    5B      F                 3
1431    5B      F                 3
1434    5B      F                 3
1437    5B      F                 3
1439    5B      M                 3
1443    5B      F                 3
1465    5B      F                 3
1475    5B      F                 3
1480    5B      F                 3
1489    5B      F                 3
1563    5B      F                 3